{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/card_product.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 left">
                    <h2>Products list</h2>
                    <ul>
                        {% for product in products %}
                            <li>Type : {{ product.type }} / Price : {{ product.price }}
                                <a href="{{ path('products_show', {
                                    id: product.id
                                }) }}">
                                    <span class="fa fa-plus"></span>
                                </a>
                            </li>

                        {% endfor %}
                    </ul>

                </div>
                <div class="col-md-6 right">
                    <h2>Order Item list</h2>
                        {% for od in orderItems %}
                            {% if od.product %}
                            <li>{{ od.product.type }}
                                <label for="">
                                    <select name="size" id="">
                                        <option value="small">Small</option>
                                        <option value="medium">Medium</option>
                                        <option value="large">Large</option>
                                    </select>
                                </label>
                                <label for="">
                                    <select name="quantity" id="">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </label>
                            </li>
                            {% endif %}
                        {% endfor %}
                    <a href="#" class="btn btn-primary">Validate order</a>
                </div>
            </div>
    </div>
{% endblock %}



