{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/card_product.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Show page</h1>
        {% for product in products %}
            <div class="card-product">
                <img src="images/{{ product.type }}.jpg" />
                <div class="card-product-infos">
                    <h2>{{ product.type }}</h2>
                    <p>Price : <strong>{{ product.price }}</strong> €</p>
                    {% if is_granted('ROLE_ADMIN_PRODUCT')%}
                        <a class="fa fa-pencil" href="{{ path('product_edit', {
                            id: product.id
                        }) }}"></a>
                        {#<a class="fa fa-shopping-basket" href="{{ path('product_delete', {
                            id: product.id
                        }) }}"></a>#}
                    {% endif %}
                    <a class="fa fa-plus-square" href="{{ path('product_choose', {
                        id: product.id
                    }) }}"></a>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}


