{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/card_product.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 left">
                    <h2>Products list</h2>
                    <ul>
                        {% for product in products %}
                            <li>Type : {{ product.type }} / Price : {{ product.price }}
                                <a href="{{ path('products_show', {
                                    id: product.id
                                }) }}">
                                    <span class="fa fa-plus"></span>
                                </a>
                            </li>

                        {% endfor %}
                    </ul>

                </div>
                <div class="col-md-6 right">
                    <h2>Order Item list</h2>
                    {{ form_start(form) }}
                    <ul>
                        {% for od in form.orderItems %}
                            <li>{{ form_row(od.size) }}</li>
                            <li>{{ form_row(od.quantity) }}</li>
                        {% endfor %}
                    </ul>
                    {{ form_end(form) }}
                </div>
            </div>
    </div>
{% endblock %}



